:root {
    --buttonColour: #5D3FD3;
}

#title {
    margin: 10px;
}

#description {
    margin: 10px;
}

.center {
    width: 75%;
    margin: 0 auto !important;
}

.text-center {
    text-align: center;
}

.inline {
    display: inline;
}

.heading {
    font-size: 24px;
    font-weight: bold;
}

.button {
    background: var(--buttonColour);
    list-style-position: inside;
    margin: 5px 5px 5px 0;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    border: none;
}

.button:hover {
    cursor: pointer;
}

#top-menu {
    display: flex;
}

#timer {
    margin-left: auto;
}

.hidden {
    display: none !important;
}

.show {
    display: block;
}

#quiz-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#answers {
    padding: 0;
}

#result {
    border-top: 1px solid grey;
    width: 50%;
    padding-top: 10px;
}